<script type="text/javascript">

$(function () {
        $('#container').highcharts({
            credits: {
                enabled:false
            },

            chart: {
                type: 'line',
                marginRight: 90,
                marginBottom: 55
            },
            title: {
                text: '<?php echo $this->gtitle; ?>',
                x: -20 //center
            },
            subtitle: {
                text: '<?php echo $this->gsubtitle; ?>',
                x: -20
            },
            xAxis: {
                <?php  echo $this->cat; ?>,
                    
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'FF SERO, ARIAL'
                        }
                    }

            },
            yAxis: {
              
                minorTickInterval: 10,
               
                min: 0,
               
                max:50,

              
                title: {
                    text: '<?php echo $this->gYtitle; ?>'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        
                    },
                    enableMouseTracking: true
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 100,
                borderWidth: 0
            },
            series: [
                 <?php echo $obj->getData();?> 
            ]
        });
    });
    
</script>



    
    




<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});
</script>

<div style="width:100%; heigth:70px; color:#fff;">
       c
</div>

<div  class="headerGraphs">
<div style="float: left; width: 16%; margin-left: 30px;">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><?php echo $this->translate('Filter Data') ?></h4>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="<?php echo $this->url('downtime', array('action'=>'index'));?>">Last 30 days</option>

    <option value="<?php echo $this->url('downt', array('controller'=> 'Downtimehc', 'action'=>'Daterange'));?>">Date Range</option>
 <option value="<?php echo $this->url('downt/default', array('controller'=> 'Downtimehc', 'action'=>'Montlygraph'));?>">
        Montly Graph <?php $year = date("Y");  echo "({$year})"; ?></option>
    <option value="<?php echo $this->url('downt/default', array('controller'=> 'Downtimehc', 'action'=>'Yearlygraph'));?>">Yearly Graph (All Years)</option>
    <option value="<?php echo $this->url('downt/default', array('controller'=> 'Downtimehc', 'action'=>'Yearmonth'));?>">Year-Month Graph</option>
</select>

            </div>
        </div>
</div>

<div style="float: left; width: 60%; margin-left: 25px;  margin-top: 25px;" align="center">
<?php    
    $test = "Hcmmontly";
    $form = $this->hcmForm;
    $form->setAttribute('action', $this->url(
            'downtimehc',
    array(
        'action'     => $this->action,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="form-group">
       <?php echo $this->formRow($form->get('molding')); ?>      
  </div>    

<?php echo $this->formRow($form->get('submit'));?>
<?php echo $this->form()->closeTag();?>    
<h2><?php echo $this->title; ?><small> <?php echo $this->subTitle; ?></small></h2>
</div>

<div style="float: left; width: 15%; margin-left: 25px;">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><?php echo $this->translate('Rolling Avg Calculation') ?></h4>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="">4 Days</option>
    <option value="">7 Days</option>
    <option value="">10 Days</option>
    <option value="">14 Days</option>
</select>

            </div>
        </div>
</div>
</div>



<div id="container" style="max-width: 90%; height: 380px; margin-top: 10px;"></div>
<br><br>



  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary">What is Down Time?</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Formula</h4>
        </div>
        <div class="modal-body">
          <p><strong>Down Time = Total DownTime / (Total RunTime + Total DownTime)</strong></p>
    <p> </p>
    <br><br>
    <p>Total Run Time  = Run Time</p>
    <p>Total DownTime = DownTime - (Prev Maintenance + Setup Delay + Eng Sample)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
