<script type="text/javascript">

$(function () {
        $('#container').highcharts({
            credits: {
                enabled:false
            },

            chart: {
                type: 'line',
                marginRight: 90,
                marginBottom: 55
            },
            title: {
                text: '<?php echo $this->gtitle; ?>',
                x: -20 //center
            },
            subtitle: {
                text: '<?php echo $this->gsubtitle; ?>',
                x: -20
            },
            xAxis: {
                <?php  echo $this->cat; ?>,
                    
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'FF SERO, ARIAL'
                        }
                    }

            },
            
            <?php echo $this->gYtitle->getData();?> 

            tooltip: {
                valueSuffix: '%'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        formatter: function() {
                            return this.y + '%';
                        }
                    },
                    enableMouseTracking: true
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 100,
                borderWidth: 0
            },
            series: [



           <?php echo $obj->getData();?> 
          
           
         

            ]
        });
    });
    
</script>



    
    




<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});


jQuery(document).ready(function(){
    jQuery("#dropdown2").change(function(e){
    window.location.href = jQuery("#dropdown2").val();
    });});

</script>


<div style="width:100%; heigth:70px; color:#fff;">
       c
</div>

<div  class="headerGraphs">
<div style="float: left; width: 16%; margin-left: 30px; ">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Filter Data') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown">
    <option value="#" selected="selected">Choose </option>

    <?php  if( strpos($this->filterData['last30']['url'],'/') ==false ): ?>
        <option value="<?php echo $this->url('utilization', array('action'=>'index'));?>">Last 30 days</option>
    <?php else: ?>
        <option value="<?php echo $this->url($this->filterData['last30']['url'], array('controller'=> $this->filterData['last30']['controller'],
        'action'=>$this->filterData['last30']['action']));?>">Last 30 days</option>
    <?php endif ?>

    <option value="<?php echo $this->url('util', array('controller'=> 'Utilizationhc', 'action'=>'Daterange'));?>">Date Range</option>
    
    <option value="<?php echo $this->url($this->filterData['monthly']['url'], array('controller'=> $this->filterData['monthly']['controller'],
        'action'=>$this->filterData['monthly']['action']));?>">Montly Graph <?php $year = date("Y");  echo "({$year})"; ?></option>

    <option value="<?php echo $this->url($this->filterData['yearly']['url'], array('controller'=> $this->filterData['yearly']['controller'],
        'action'=>$this->filterData['yearly']['action']));?>">Yearly Graph (All Years)</option>
    
    <option value="<?php echo $this->url($this->filterData['yearmonth']['url'], array('controller'=> $this->filterData['yearmonth']['controller'],
        'action'=>$this->filterData['yearmonth']['action']));?>">Year-Month Graph</option>
        
</select>

            </div>
        </div>
</div>

<?php //////////////////////// ?>
<div style="float: left; width: 60%; margin-left: 25px;  margin-top: 25px;" align="top">
<?php    
    $form = $this->hcmForm;
    $form->setAttribute('action', $this->url(
            'utilizationhc',
    array(
        'action'     => 'hcmindex',
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <?php echo $this->formRow($form->get('molding')); ?>
  </div>    
        
<?php echo $this->formRow($form->get('submit'));?>
<?php echo $this->form()->closeTag();?>    

<h2><?php echo $this->title; ?><small> <?php echo $this->subTitle; ?></small></h2>
</div>
<?php //////////////////////// ?>




<div style="float: left; width: 15%; margin-left: 25px; ">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Rolling Avg Calculation') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown2">
    <option value="#" selected="selected">Choose </option>
   <option value="<?php echo $this->url('utilizationhc', array( 'action'=> $this->avgAction,'id'=> 2));?>">2 Days</option>
    <option value="<?php echo $this->url('utilizationhc', array( 'action'=> $this->avgAction,'id'=> 4));?>">4 Days</option>
    <option value="<?php echo $this->url('utilizationhc', array( 'action'=> $this->avgAction,'id'=> 7));?>">7 Days</option>
    <option value="<?php echo $this->url('utilizationhc', array( 'action'=> $this->avgAction,'id'=> 14));?>">14 Days</option>
</select>

            </div>
        </div>
</div>
</div>



<div id="container" style="max-width: 95%; height: 380px; margin-top: 10px;"></div>


<br><br>



  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary">What is Utilization?</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Formula</h4>
        </div>
        <div class="modal-body">
          <p><strong>Utilization = Scheduled RunTime / Total Capacity</strong></p>
    <p> </p>
    <br><br>
    <p>Scheduled RunTime  = Total RunTime + Total DownTime</p>
    <p>Total Capacity = Total Machines * 24hours</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



