

.tabla_tecnicos{
	margin-left: 15px; 
	background: #000; 
	color: #FFF; 
	width: 220px; 
	height: 35px;
	font-size: 140%;
	font-weight: bold;
}

.tablaTecNombres{
	margin-left: 15px; 
	width: 550px; 
	font-weight: bold; 
	font-size: 140%;
}

.dataTablesHead{
	background: #000;
	font-size: 100%;
}

.dataTablesHeadReport{
	background: #000;
	text-align: center;
	font-size: 100%;
}


#normalRow{
	
}


.headHcEficiencia{
	font-size: 95%;
	margin-left: 8%;
	float: left;
	height: 25px;
}

.headHcEficiencia2{
	font-size: 95%;
	margin-left: 2%;
	float: left;
	height: 25px;
}

.headHcSpace{
	float: left;
	height: 25px;
	width: 25%;
}



#redRow{
	 color: #FF0000;
}


.currentJob{
	 height: 55px;
	font-size: 190%;
	font-weight: bold; 
	color: #161B8B;
}


.nextJob{
	 height: 55px;
	font-size: 190%;
	font-weight: bold; 
	color: #119F00;
}


#current{
	color: #161B8B;
}


.smedHeader{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 210%;
	font-weight: bold;
	text-shadow: -2px 1px 0 #333333;
	color: #FFF;
	background-color: #000;
}


.smedSubHeader{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 150%;
	font-style: italic;
	font-weight: bold;
	text-shadow: 0px 0 0 #FFF;
	color: #F2E27C;
	background-color: #222222;

}


