<script  type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable(
    {
        "iDisplayLength": 25,
        


        "aaSorting": [[ 0,"desc"]]
    });
    
} );
</script>



<?php

$this->headTitle($this->titulo);
?>
<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>
<br/>
<div style="float: left; width: 60%; margin-left: 20%;  margin-top: 20px;" align="top">
<?php    
    $form = $this->hcmForm;
    $form->setAttribute('action', $this->url(
            'psmetrics/default',
    array(
        'controller' => 'Psmetrics',
        'action'     => $this->action,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <?php echo $this->formRow($form->get('molding')); ?>
  </div>    
        
<?php echo $this->formRow($form->get('submit'));?>
<?php echo $this->form()->closeTag();?>    

<h2><?php echo $this->title; ?><small> <?php echo $this->subTitle; ?></small></h2>
</div>
<br/>

<div style="width: 92%;">
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%">
<thead>
    <th class="dataTablesHead">Date</th>
    <th class="dataTablesHead">Machines</th>
    <th class="dataTablesHead">Total Uptime</th>
    <th class="dataTablesHead">Total DownTime</th>
    <th class="dataTablesHead">Prev Mannto</th>
    <th class="dataTablesHead">Idle TIme</th>
    <th class="dataTablesHead">Eng Sample</th>
    <th class="dataTablesHead">Setup Delay</th>
    <th class="dataTablesHead">Paro Fin Sem</th>
    <th class="dataTablesHead">Paro Ini Sem</th>


    <th class="dataTablesHead">Total(Up + Down + Idle)</th>

</thead>

<?php foreach($this->moldingCap as $molding): ?>
<tr>

    

    <td align="center" style="width: 12%;"> <?php echo $this->escapeHtml($molding['fecha']);?></td>
    <td align="center">
        <a href="<?php echo $this->url('machineusage/default',
            array('action'=>'Hcmmachinemetrics', 'id' => $molding['fecha'])); ?>">
        <?php echo $this->escapeHtml($molding['machines_util']);?> </a></td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['total_uptime']);?> </td>
   
    <td align="center"><?php echo $this->HourFormatHelper($molding['total_downtime']);?> </td>



    <td align="center"><?php echo $this->HourFormatHelper($molding['mantto_prev_time']);?> </td>

    <td align="center"><?php echo $this->HourFormatHelper($molding['idle_time']);?> </td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['eng_sample_time']);?> </td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['setup_delay_time']);?> </td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['paro_fin_time']);?> </td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['arranque_ini_time']);?> </td>



<td align="center"><?php echo $this->HourFormatHelper($molding['sum1']);?> </td>



</tr>
<?php endforeach; ?>
</table>
</div>
