<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});
</script>
<script type="text/javascript">
 $(function() {
$( "#inputDate" ).datepicker();
    $( "#inputDate" ).datepicker("option","dateFormat", "yy-mm-dd");
});
</script>
<script type="text/javascript">
 $(function() {
$( "#inputDate2" ).datepicker();
    $( "#inputDate2" ).datepicker("option","dateFormat", "yy-mm-dd");
});
</script>

<div style=" width: 100%; margin-bottom: 25px; height: 100px">

<div style="float: left; width: 15%; margin-left: 35px;  margin-top: 25px;">
 <div class="panel panel-default">
            <div class="panel-heading">
                
            </div>
            <div class="panel-body">
               


            </div>
        </div>
</div>

<div style="float: left; width: 60%; margin-left: 25px;  margin-top: 25px;" align="center">

<h2><?php echo $this->title; ?><small><?php echo $this->subtitle; ?> </small></h2>


</div>

<div style="float: left; width: 15%; margin-left: 25px;  margin-top: 25px;">
 <div class="panel panel-default">
            <div class="panel-heading">
              
            </div>
            <div class="panel-body">
               
            </div>
        </div>
</div>

</div>




<div class="agregaUsuario" align="center">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'dashbs',
    array(
       'controller' => 'Dashboardshc',
        'action'     => 'Daterange',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="control-group">
       <label class="control-label" for="Nombre">Start Date: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('fecha')); ?>
           </div>
  </div>    
    
 

<div class="control-group">
       <label class="control-label" for="Nombre">End Date: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('fecha2')); ?>
           </div>
  </div>    
    
 


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>