<script type="text/javascript">

$(function () {
        $('#container').highcharts({
            credits: {
                enabled:false
            },

            chart: {
                type: 'line',
                marginRight: 90,
                marginBottom: 55
            },
            title: {
                text: '<?php echo $this->gtitle; ?>',
                x: -20 //center
            },
            subtitle: {
                text: '<?php echo $this->gsubtitle; ?>',
                x: -20
            },
            xAxis: {
                <?php  echo $this->cat; ?>,
                    
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'FF SERO, ARIAL'
                        }
                    }

            },
            
    <?php echo $this->gYtitle->getData();?> 

            tooltip: {
                valueSuffix: '%'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        formatter: function() {
                            return this.y + '%';
                        }
                    },
                    enableMouseTracking: true
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 100,
                borderWidth: 0
            },
            series: [



           <?php echo $obj->getData();?> 
          
           
         

            ]
        });
    });
    
</script>




<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});
</script>


<div style="width:100%; heigth:70px; color:#fff;">
       c
</div>


<div  class="headerGraphs">
<div style="float: left; width: 16%; margin-left: 30px; ">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Filter Data') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="<?php echo $this->url('dashboards', array('action'=>'index'));?>">Last 30 days</option>

    <option value="<?php echo $this->url('dashbs', array('controller'=> 'Dashboardshc', 'action'=>'Daterange'));?>">Date Range</option>
 <option value="<?php echo $this->url('dashbs/default', array('controller'=> 'Dashboardshc', 'action'=>'Montlygraph'));?>">
        Montly Graph <?php $year = date("Y");  echo "({$year})"; ?></option>
    <option value="<?php echo $this->url('dashbs/default', array('controller'=> 'Dashboardshc', 'action'=>'Yearlygraph'));?>">Yearly Graph (All Years)</option>
   
</select>

            </div>
        </div>
</div>


<div style="float: left; width: 60%; margin-left: 25px;  margin-top: 25px;" align="center">
<?php    
    $test = "Hcmmontly";
    $form = $this->hcmForm;
    $form->setAttribute('action', $this->url(
            'dashboardshc',
    array(
        'action'     => $this->action,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="form-group">
       <?php echo $this->formRow($form->get('molding')); ?>      
  </div>    

<?php 
     echo '<input type="hidden" name="fecha_ini" value="'. $this->date . '">';
    
     echo '<input type="hidden" name="fecha_fin" value="'. $this->date2 . '">';

 ?>

<?php echo $this->formRow($form->get('submit'));?>
<?php echo $this->form()->closeTag();?>    
<h2><?php echo $this->title; ?><small> <?php echo $this->subTitle; ?></small></h2>
</div>





<div style="float: left; width: 15%; margin-left: 25px;">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Rolling Avg Calculation') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="">4 Days</option>
    <option value="">7 Days</option>
    <option value="">10 Days</option>
    <option value="">14 Days</option>
</select>

            </div>
        </div>
</div>
</div>



<div id="container" style="max-width: 95%; height: 380px; margin-top: 10px;"></div>



