<script type="text/javascript">

$(function () {
        $('#container').highcharts({
            credits: {
                enabled:false
            },

            chart: {
                type: 'line',
                marginRight: 90,
                marginBottom: 55
            },
            title: {
                text: '<?php echo $this->gtitle; ?>',
                x: -20 //center
            },
            subtitle: {
                text: '<?php echo $this->gsubtitle; ?>',
                x: -20
            },
            xAxis: {
                <?php  echo $this->cat; ?>,
                    
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'FF SERO, ARIAL'
                        }
                    }

            },
            yAxis: {
              
                minorTickInterval: 10,
               
                min: 10,
               
               

              
                title: {
                    text: '<?php echo $this->gYtitle; ?>'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        formatter: function() {
                            return this.y + '%';
                        }
                    },
                    enableMouseTracking: true
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 100,
                borderWidth: 0
            },
            series: [



           <?php echo $obj->getData();?> 
          
           
         

            ]
        });
    });
    
</script>



    
    




<script>
    jQuery(document).ready(function(){
        jQuery("#dropdown").change(function(e){
            window.location.href = jQuery("#dropdown").val();
        });

        $('#example').dataTable({
         "iDisplayLength": 25,
        "aaSorting": [[ 0,"desc"]]
        });

    });


jQuery(document).ready(function(){
    jQuery("#dropdown2").change(function(e){
    window.location.href = jQuery("#dropdown2").val();
    });});

</script>


<div style="width:100%; heigth:70px; color:#fff;">
       c
</div>

<div  class="headerGraphs">


<div style="float: left; width: 16%; margin-left: 30px; ">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Filter Data') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="<?php echo $this->url('efficiency', array('action'=>'hcmgraph'));?>">Last 30 days</option>

    <option value="<?php echo $this->url('effic', array('controller'=> 'Efficiencyhc', 'action'=>'Daterange'));?>">Date Range</option>
    <option value="<?php echo $this->url('effic/default', array('controller'=> 'Efficiencyhc', 'action'=>'Montlygraphhcm'));?>">
        Montly Graph <?php $year = date("Y");  echo "({$year})"; ?></option>
     <option value="<?php echo $this->url('effic/default', array('controller'=> 'Efficiencyhc', 'action'=>'Yearquarts'));?>">Yearly Quarts Single Molding Operation</option>
    <option value="<?php echo $this->url('effic/default', array('controller'=> 'Efficiencyhc', 'action'=>'Yearquartall'));?>">Yearly Quarts All Molding Operations</option>  
    <option value="<?php echo $this->url('effic/default', array('controller'=> 'Efficiencyhc', 'action'=>'Yearlygraphhcm'));?>">Yearly Graph (All Years)</option>
    <option value="<?php echo $this->url('effic/default', array('controller'=> 'Efficiencyhc', 'action'=>'Yearmonthhcm'));?>">Year-Month Graph</option>
</select>

            </div>
        </div>
</div>

<div style="float: left; width: 60%; margin-left: 25px;  margin-top: 25px;" align="top">

<?php    
    $form = $this->hcmForm;
    $form->setAttribute('action', $this->url(
            'efficiencyhc',
    array(
        'action'     => 'hcmindex',
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
    
      
       <?php echo $this->formRow($form->get('molding')); ?>
      
  </div>    
        
 



<?php echo $this->formRow($form->get('submit'));?>


<?php echo $this->form()->closeTag();?>    

<h2><?php echo $this->title; ?><small> <?php echo $this->subTitle; ?></small></h2>








</div>

<div style="float: left; width: 15%; margin-left: 25px; ">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Rolling Avg Calculation') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown2">
    <option value="#" selected="selected">Choose </option>
   <option value="<?php echo $this->url('efficiencyhc', array( 'action'=> 'hcmgraph','id'=> 2));?>">2 Days</option>
    <option value="<?php echo $this->url('efficiencyhc', array( 'action'=> 'hcmgraph','id'=> 4));?>">4 Days</option>
    <option value="<?php echo $this->url('efficiencyhc', array( 'action'=> 'hcmgraph','id'=> 7));?>">7 Days</option>
    <option value="<?php echo $this->url('efficiencyhc', array( 'action'=> 'hcmgraph','id'=> 14));?>">14 Days</option>
</select>

            </div>
        </div>
</div>
</div>



<div id="container" style="max-width: 95%; height: 380px; margin-top: 10px;"></div>


<br><br>



  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary">What is Efficiency?</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Formula</h4>
        </div>
        <div class="modal-body">
          <p><strong>Efficiency = Total RunTime / (Total RunTime + Total DownTime)</strong></p>
    <p> </p>
    <br><br>
    <p>Total Run Time  = Run Time</p>
    <p>Total DownTime = DownTime - (Prev Maintenance + Setup Delay + Eng Sample + Paro Fin Sem + Paro Ini Sem)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<br><br>


<div style="width: 75%;">
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%">
<thead>
    <th class="dataTablesHead">Date</th>
    <th class="dataTablesHead">Total Uptime</th>
    <th class="dataTablesHead">Total DownTime</th>
    <th class="dataTablesHead">Setup Delay</th>
    <th class="dataTablesHead">Mannto Prevent</th>
    <th class="dataTablesHead">Eng Sample</th>
    <th class="dataTablesHead">Paro Fin Sem</th>
    <th class="dataTablesHead">Paro Ini Sem</th>
    <th class="dataTablesHead">Effective Downtime</th>

    <th class="dataTablesHead">Efficiency</th>

</thead>

<?php foreach($grid_array as $molding): ?>
<tr>

    

    <td align="center" style="width: 12%;"> <?php echo $this->escapeHtml($molding['date']);?></td>

    <td align="center"><?php echo $this->HourFormatHelper($molding['total_uptime']);?> </td>
   
    <td align="center"><?php echo $this->HourFormatHelper($molding['total_downtime']);?> </td>

    <td align="center"><?php echo $this->HourFormatHelper($molding['setup_delay']);?> </td>

    <td align="center"><?php echo $this->HourFormatHelper($molding['manntto']);?> </td>

    <td align="center"><?php echo $this->HourFormatHelper($molding['engine_samples']);?> </td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['paro_fin']);?> </td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['arranque_ini']);?> </td>
    <td align="center"><?php echo $this->HourFormatHelper($molding['effective_down']);?> </td>



<td align="center"><strong><?php echo $this->escapeHtml($molding['efficiency']);?> %</strong></td>



</tr>
<?php endforeach; ?>
</table>
</div>