<script  type="text/javascript">
$(document).ready(function() {
   options = {
    pattern: 'yyyy-mm', // Default is 'mm/yyyy' and separator char is not mandatory
    selectedYear: 2010,
    startYear: 2008,
    finalYear: 2012,
    monthNames: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
};

$('#default_widget').monthpicker(options);

} );



</script>
<script  type="text/javascript">



</script


<?php

$this->headTitle($this->titulo);
?>
<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>
<br/>

<?php foreach($this->vector as $key2 => $value2): ?>
    <p>
<?php foreach($value2 as $key => $value): ?>

<a href="<?php echo $this->url('monthmet', array( 'action'=>'index','id'=>$key));?>"><?php echo $value ?></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<?php endforeach; ?>
    </p><br>
<?php endforeach; ?>



<input id="default_widget" class="mtz-monthpicker-widgetcontainer" type="text">
                            

<br/>


<br><br>
