<script  type="text/javascript">
$(document).ready(function() {
  if($('#default_widget').val() !=''){
    var valor = $('#default_widget').val();
    $( "#fecha" ).val(valor);
  }
    $('#example').dataTable(
    {
        "iDisplayLength": 25,
        


        "aaSorting": [[ 0,"asc"]]
    });
    
options = {
    pattern: 'yyyy-mm', // Default is 'mm/yyyy' and separator char is not mandatory
    selectedYear: <?php echo $this->lastYear;?>,
    startYear: 2012,
    finalYear: <?php echo $this->lastYear;?>,
     openOnFocus: false, // Let's now use a button to show the widget
    monthNames: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Ouc', 'Nov', 'Dec']
};

$('#default_widget').monthpicker(options);

$('#default_widget').monthpicker().bind('monthpicker-change-year', function (e, year) {
    $('#default_widget').monthpicker('disableMonths', []); // (re)enables all
    if (year === '2012') {
        $('#default_widget').monthpicker('disableMonths', [1, 2]);
    }
    if (year == options['finalYear']) {
        $('#default_widget').monthpicker('disableMonths', <?php echo $this->monthArray;?>);
    }
});

$('#default_widget_button').bind('click', function () {
    $('#default_widget').monthpicker('show');
});

 $('.temptype').change(function() {
        var temp =$(this).val();
        console.log(temp);
        $( "#Usuario" ).submit();
    });


} );



</script>
<script  type="text/javascript">


</script>


<?php

$this->headTitle($this->titulo);
?>
<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>
<br/>
<?php    
    $form = $this->hcmForm;
    $form->setAttribute('action', $this->url(
            'monthmetric/default',
    array(
        'controller' => 'Monthmetrics',
        'action'     => $this->action,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="form-group">
       <?php echo $this->formRow($form->get('molding')); ?>
       <input id="fecha" type="hidden" name="fecha_graph" value="">
  </div>    
        
<?php echo $this->form()->closeTag();?>  
<br/>


<?php    
    $form2 = $this->formSelector;
    $form2->setAttribute('action', $this->url(
            'monthmetric/default',
    array(
        'controller' => 'Monthmetrics',
        'action'     => 'Propmonthmetrics',
    )
));
$form2->prepare();
echo $this->form()->openTag($form2);
?>
<div class="form-group">
       <?php echo $this->formRow($form2->get('fecha_graph')); ?>
        <input id="default_widget_button" type="button" class="btn btn-info" value="Select Year and Month">
  </div>    
       
<?php echo $this->formRow($form2->get('submit_get'));?>
<?php echo $this->form()->closeTag();?>  
<br/>



<div style="width: 80%;">
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%">
<thead>
     <th class="dataTablesHeadReport" align="center">ID</th>
     <th class="dataTablesHeadReport" align="center">Weeks</th>
    <th class="dataTablesHeadReport">Total Capacity</th>
    <th class="dataTablesHeadReport">Total Scheduled Run Time</th>
    <th class="dataTablesHeadReport">Total Run Time</th>
    <th class="dataTablesHeadReport">Total Down Time</th>
    <th class="dataTablesHeadReport">Down Time(Not Track)</th>.
     <th class="dataTablesHeadReport">Efficency</th>
</thead>

<?php foreach($this->result as $cpl): ?>
<tr>
    <td align="center"><strong><?php echo $this->escapeHtml($cpl['orden']);?></strong></td>
    <td width=24%; align="center"><strong><?php echo $this->escapeHtml($cpl['fecha']);?></strong></td>

    <td align="center"><?php echo $this->HourFormatHelper($cpl['total_capacity']);?></td>
   
       <td align="center"><?php echo $this->HourFormatHelper($cpl['total_sched_run']);?></td>

   <td align="center"><?php echo $this->HourFormatHelper($cpl['total_run']);?></td>


     <td align="center"><?php echo $this->HourFormatHelper($cpl['total_down_time']);?></td>

 <td align="center"><?php echo $this->HourFormatHelper($cpl['total_not_track_down_time']);?></td>

 <td align="center"><strong><?php echo $this->escapeHtml($cpl['efficiency']);?> %</strong></td>

</tr>
<?php endforeach; ?>
</table>
</div>

<br><br>
