<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Hunter Industries'. $this->translate(''))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
       <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                      ->prependStylesheet($this->basePath() . '/css/core/core.css')
                        //->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        //->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootn/bootstrap-theme.min.css')
                         ->prependStylesheet($this->basePath() . '/css/bootn/bootstrap.min.css')
                        //->prependStylesheet($this->basePath() . '/css/style_light.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_page.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_table.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/extras/TableTools/media/css/TableTools.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/demos/demos.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery.ui.all.css')
                      ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery-ui.css')
                      // ->prependStylesheet($this->basePath() . '/css/jquery.ptTimeSelect.css')
                          ->prependStylesheet($this->basePath() . '/css/plantstart.css')
                       /* ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                         ->prependStylesheet($this->basePath() . '/css/style.css')
                     //   ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') 
                        ->prependStylesheet($this->basePath() . '/css/style_light.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_page.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_table.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/extras/TableTools/media/css/TableTools.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/demos/demos.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery.ui.all.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery-ui.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery.ptTimeSelect.css')
                        

                           ->prependStylesheet($this->basePath() . '/css/plantstart.css')*/
                         ?>
    
        <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
          
            ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.min.js') 
            ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.js') 
          //  ->prependFile($this->basePath() . '/js/ui.slider.js')    
//            ->prependFile($this->basePath() . '/js/jCombo.js')
         //   ->prependFile($this->basePath() . '/js/jqueryui.js')
           // ->appendFile($this->basePath() . '/js/bootstrap-dropdown.js')
                ->prependFile($this->basePath() . '/js/jquery.mtz.monthpicker.js')           
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.accordion.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.tabs.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.widget.js')
            ->prependFile($this->basePath()  . '/jquery-ui/development-bundle/ui/jquery.ui.core.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.datepicker.js')
            ->prependFile($this->basePath() . '/highcharts/js/highcharts.js') 
           // ->prependFile($this->basePath() . '/highcharts/js/modules/exporting.js') 
            ->prependFile($this->basePath() . '/DataTables/media/js/jquery.js')
           

            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.datepicker.js')
            ->prependFile($this->basePath() . '/js/bootn/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
       
           /*  ->prependFile($this->basePath() . '/js/ttw-notification-menu.min.js')
                        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.min.js') 
                        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.js') 
                     ->prependFile($this->basePath() . '/js/jquery.ptTimeSelect.js')
                       ->prependFile($this->basePath() . '/js/ui.slider.js')    
                        ->prependFile($this->basePath() . '/js/jCombo.js')
                        ->prependFile($this->basePath() . '/js/jqueryui.js')
            
         ->prependFile($this->basePath() . '/highcharts/js/highcharts.js') 
            ->prependFile($this->basePath() . '/highcharts/js/modules/exporting.js') 
        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.js')

           ->prependFile($this->basePath() . '/js/bootstrap.min.js')
           ->prependFile($this->basePath() . '/js/jquery.min.js')*/
       
        ?>

  </head>
    <body>
         <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img height="19" width="94" src="<?php echo $this->basePath('images/Hunter_Logow2.png') ?>" alt="Zend Framework 2"/>&nbsp;</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">

        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plantstar Reports <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/pstar/public/application">Total Capacity</a></li>
          <li><a href="/pstar/public/psmetrics">Plantstar Metrics</a></li>
          <li><a href="/pstar/public/monthmetric">Monthly Metrics</a></li>
          <li><a href="/pstar/public/hcmmachines">HCM Machines</a></li>

        </ul>
      </li>


       <li><a href="/pstar/public/availability">Availability</a></li>
      <li ><a href="/pstar/public/efficiency">Efficiency</a></li>
      <li ><a href="/pstar/public/utilization">Utilization</a></li>
      <li ><a href="/pstar/public/downtime">Down Time</a></li>
      <li ><a href="/pstar/public/dashboards">Dashboards</a></li>
      <li ><a href="/pstar/public/machineusagehc">Machine Usage</a></li>
      </ul>
      

                    
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        

        
        <div class="container-fluid" align="center">
<style media="screen" type="text/css">

.highcharts-container { overflow: visible !important; }

</style>
            <?php echo $this->content; ?>
     
            <footer>
                <br/><br/>
                
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
 
    </body>
</html>


