<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Hunter Industries'. $this->translate(''))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
       <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                      ->prependStylesheet($this->basePath() . '/css/core/core.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        //->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style_light.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_page.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_table.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/extras/TableTools/media/css/TableTools.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/demos/demos.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery.ui.all.css')
                      ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery-ui.css')
                       ->prependStylesheet($this->basePath() . '/css/jquery.ptTimeSelect.css')
                          ->prependStylesheet($this->basePath() . '/css/plantstart.css')
                       /* ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                         ->prependStylesheet($this->basePath() . '/css/style.css')
                     //   ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') 
                        ->prependStylesheet($this->basePath() . '/css/style_light.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_page.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/media/css/demo_table.css')
                        ->prependStylesheet($this->basePath() . '/DataTables/extras/TableTools/media/css/TableTools.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/demos/demos.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery.ui.all.css')
                        ->prependStylesheet($this->basePath() . '/jquery-ui/development-bundle/themes/redmond/jquery-ui.css')
                        ->prependStylesheet($this->basePath() . '/css/jquery.ptTimeSelect.css')
                        

                           ->prependStylesheet($this->basePath() . '/css/plantstart.css')*/
                         ?>
    
        <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
           
            ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.min.js') 
            ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.js') 
            ->prependFile($this->basePath() . '/js/ui.slider.js')    
            ->prependFile($this->basePath() . '/js/jCombo.js')
            ->prependFile($this->basePath() . '/js/jqueryui.js')
            ->appendFile($this->basePath() . '/js/bootstrap-dropdown.js')
                        ->prependFile($this->basePath() . '/js/jquery.mtz.monthpicker.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.accordion.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.tabs.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.widget.js')
            ->prependFile($this->basePath()  . '/jquery-ui/development-bundle/ui/jquery.ui.core.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.datepicker.js')
            ->prependFile($this->basePath() . '/highcharts/js/highcharts.js') 
            ->prependFile($this->basePath() . '/highcharts/js/modules/exporting.js') 
            ->prependFile($this->basePath() . '/DataTables/media/js/jquery.js')
            ->prependFile($this->basePath() . '/jquery-ui/development-bundle/ui/jquery.ui.datepicker.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')

       
           /*  ->prependFile($this->basePath() . '/js/ttw-notification-menu.min.js')
                        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.min.js') 
                        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.dataTables.js') 
                     ->prependFile($this->basePath() . '/js/jquery.ptTimeSelect.js')
                       ->prependFile($this->basePath() . '/js/ui.slider.js')    
                        ->prependFile($this->basePath() . '/js/jCombo.js')
                        ->prependFile($this->basePath() . '/js/jqueryui.js')
            
         ->prependFile($this->basePath() . '/highcharts/js/highcharts.js') 
            ->prependFile($this->basePath() . '/highcharts/js/modules/exporting.js') 
        ->prependFile($this->basePath() . '/DataTables/media/js/jquery.js')

           ->prependFile($this->basePath() . '/js/bootstrap.min.js')
           ->prependFile($this->basePath() . '/js/jquery.min.js')*/
       
        ?>

  </head>
    <body>
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">

                <div class="container">
                   
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    
                    <div class="nav-collapse collapse">
                       
                            <?php echo $this->navigation('navigation')->menu()->setUlClass('nav navbar-nav'); ?>
                            
                        
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="dashboard-page">
        <div class="container-fluid" align="center">

            <?php echo $this->content; ?>
      
            <footer>
               
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </div>
    </body>
</html>