/* 
    Document   : core
    Created on : Dec 20, 2012, 3:05:24 PM
    Author     : ArteDigital
    Description:
        Purpose of the stylesheet follows.
*/

p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
*/
.agregar {
    /*text-align: center;*/
    width: 400px;
    color: #68b604;
    
}

/*
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}


*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;
}
.panel-default > .panel-heading {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    color: #333333;
}
.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2px 2px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}



.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
.panel-body:after {
    clear: both;
}
.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.panel-body {
    padding: 15px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
/*

.navbar-inner {
    background-image: linear-gradient(to bottom,#005487,#005487) !important;
    color: #fff !important;
}

.navbar-inverse .nav>li>a {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}


.navbar .nav>.active>a:focus {
color: #555;
text-decoration: none;

-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}
*/

/*.navbar-inner2 {
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-image: linear-gradient(to bottom,#71756A,#3F413C) !important;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}*/

/*body {
    background-color: #FFF !important;

}

.dashboard-page{
     background-color: #FFF !important;
}
*/
/*
.divspace{
    width: 100%; 
    height:15px; 
    float: left;
}

label{
    margin-bottom: 0px;
}

table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: 1em;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: -webkit-auto;
}

*/
.headerGraphs{
    width:100%; 
    height:100px;
    

}

.blueBlackGroundDiv {
    padding-top:20px;
    background: none repeat scroll 0 0 #EBF4FB;
    border: 2px solid #B7DDF2;
    width:450px;
}

.myform{
	width: 420px;
	height: 500px;
	padding:14px;
}

.distribform{
	width: 420px;
	height: 458px;
	padding:14px;
}

.cplform{
	width: 440px;
	height: 730px;
	padding:14px;
}

.buscarhdform{
	width: 590px;
	height: 100px;
	padding:14px;
}


.direccionform{
	width: 400px;
	height: 658px;
	padding:14px;
}




/* Alturas temporales para los formularios */
.hdForm{
    width: 440px;
    height: 600px;
    padding:14px;
}

.particionForm{
    width: 440px;
    height: 230px;
    padding:14px;
}

.cinesForm{
    width: 440px;
    height: 800px;
    padding:14px;
}


.ubicacionForm{
    width: 40%; 
    margin-top:  25px;
    background-color: #ebf4fb; 
    border:solid 2px #b7ddf2;
    padding-bottom: 25px;
    padding-top: 5px;
}

.agregaUsuario{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 32%; 
    margin-top:  25px;
    background-color: #ebf4fb; 
    border:solid 2px #b7ddf2;

    padding-top: 2%;
    padding-bottom: 2%;
}

.agregaMaquinaHCM{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 45%; 
    margin-top:  25px;
    background-color: #ebf4fb; 
    border:solid 2px #b7ddf2;

    padding-top: 2%;
    padding-bottom: 2%;
}


.datosInformacion{
    width: 56%;
    font-family: Arial;
    text-align: left;
    background-color: #F0C64F; 
    border:solid 2px #CF8A24;
    padding-top: 10px;
    padding-bottom: 5px;
}


.sideData{
    color: #005487;
     border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #E4E1DD; 
    width: 100%;
     border:solid 3px #BBC7CD;
     padding-top: 5%;
     padding-left: 4%;
     padding-bottom: 10%;
}

.datosInformacionAgregar{
    width: 56%;
    font-family: Arial;
    text-align: left;
    background-color: #A7CA33; 
    border:solid 2px #CF8A24;
    padding-top: 10px;
    padding-bottom: 5px;
}


.infoBottomLine{
    float: none;
     width: 100%;
}

.infoBottomLine2{
    text-align: center;
    margin-top: 45px;
    float: none;
    width: 100%;
    background-color: #FFF;
}


.infoHeastitle{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
    font-family: Arial;
}

.infoHead{
    float: left;
    margin-left: 50px;
}

.span2
{
 
   
}



.control2-label{
    margin-top: 15px;
    float: left;
    width: 280px;
 
    text-align: right;
}


.control2-group{
    margin-bottom: 5px;
}


#stylized{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#stylized h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}

#stylized p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}

#stylized label{
    margin-top: 2px;
    margin-bottom: 20px;
    font-weight:bold;
    text-align:right;
    width:150px;
    float:left;
}

#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

/*#stylized input,*/
#stylized textarea
{
     float:right;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width: 180px;
    margin:2px 55px 30px 10px;
}

#stylized ul{
	float:left;
	margin-top: -18px;
	margin-bottom: 5px;
	width: 100%;
}

#stylized li{
	float:left;
	width: 100%;
	margin-bottom: 5px;
	font-size: 11px;
	color: red;
}

/*#stylized select{
     float:right;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width: 180px;
    margin:2px 60px 30px 10px;
}
*/


#stylized button{
	float: left;
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

.cpldetailsform{
    padding-top: 25px;
    padding-right: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 850px;
	
}

#stylized2{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#stylized2 h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}

#stylized2 p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}

#stylized2 label{
    font-weight:bold;
    float: left;
    width:125px;
  
}

#stylized2 .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    width:150px;
}

.input-sm{
   
    padding: 0 0 !important;
    
    
}

/*#stylized2 input{
     float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width: 180px;
    margin:2px 55px 30px 10px;
}*/

#stylized2 ul{
	float:left;
	margin-top: -18px;
	margin-bottom: 5px;
	width: 100%;
}

/*#stylized2 select{
    float:left;
    font-size:12px;

    border:solid 1px #aacfe4;
    width: 155px;
    margin:0px 20px 30px 25px;
}*/

#stylized2 checkbox{
    float:left;
    font-size:12px;

    border:solid 1px #aacfe4;
    width: 155px;
    margin:0px 620px 690px 250px;
}

#stylized2 li{
	float:left;
	width: 100%;
	margin-bottom: 5px;
	font-size: 11px;
	color: red;
}


#cplstyle{
    width: 94%;
   
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border:solid 2px #b7ddf2;
}



.suggest_link {
		background-color: #FFFFFF;
		padding: 2px 6px 2px 6px;
	}
	.suggest_link_over {
		background-color: #3366CC;
		padding: 2px 6px 2px 6px;
	}
	#search_suggest {
		position: absolute; 
		background-color: #FFFFFF; 
		text-align: left; 
		border: 1px  #000000;		/** Solid para ver donde esta ubicado Inicio **/	
	}
     #search2_suggest {
		position: absolute; 
		background-color: #FFFFFF; 
		text-align: left; 
		border: 1px  #000000;		/** Solid para ver donde esta ubicado Inicio **/	
	}		
   #search3_suggest {
        position: absolute; 
        background-color: #FFFFFF; 
        text-align: left; 
        border: 1px  #000000;       /** Solid para ver donde esta ubicado Inicio **/    
    }       

/** Edits Cine **/

.edit-cine {
	height: 800px;
	width: 450px;
}

.edit-cine label {
	margin-bottom: 5px !important;
}

/*.edit-cine input, .edit-cine textarea{
	float:none !important;
}
.edit-cine input[type='text'],
.edit-cine input[type='select'],{
	width: 200px !important;
}*/

.ui-datepicker {  
    width: 216px;  
    height: auto;  
    margin: 5px auto 0;  
    font: 9pt Arial, sans-serif;  
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
}  


.ui-datepicker-header {  
    background: url('../img/dark_leather.png') repeat 0 0 #000;  
    color: #e0e0e0;  
    font-weight: bold;  
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);  
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);  
    text-shadow: 1px -1px 0px #000;  
    filter: dropshadow(color=#000, offx=1, offy=-1);  
    line-height: 30px;  
    border-width: 1px 0 0 0;  
    border-style: solid;  
    border-color: #111;  
}

.ui-datepicker th {  
    text-transform: uppercase;  
    font-size: 6pt;  
    padding: 5px 0;  
    color: #666666;  
    text-shadow: 1px 0px 0px #fff;  
    filter: dropshadow(color=#fff, offx=1, offy=0);  
}  

.ui-datepicker thead {  
    background-color: #f7f7f7;  
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));  
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );  
    border-bottom: 1px solid #bbb;  
}  

/** End of Edits Cine **/
