<script type="text/javascript">

 $(function() {
$( "#fechacaptura" ).datepicker();
    $( "#fechacaptura" ).datepicker("option","dateFormat", "yy-mm-dd");
});


</script>


<?php

$this->headTitle($this->titulo);
?>
<div style="width:100%; heigth:70px; color:#fff;">
       c
</div>

<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>



<div class="agregaMaquinaHCM">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'hcmmachine',
    array(
        'action'     => 'Addnewhcmmachine',

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Hcm Machine Name: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('mach_name')); ?>
           </div>
  </div>    
    
 

<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Date When Machine Added: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('fecha_track')); ?>
           </div>
  </div>    
    


<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>