<?php


$title = 'Delete HCM machine';
$this->headTitle($title);
?>
<div style="width:100%; heigth:70px; color:#fff;">
       c
</div>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>Are you sure you want to delete this HCM machine: 
    <strong>'<?php echo $this->escapeHtml($parte->mach_name); ?>' </strong> 
</p>
<?php
$url = $this->url('hcmmachine', array(
    'action' => 'deletehcmmachine',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $partes->id; ?>" />
    <input type="submit" name="del" value="Yes" />
    <input type="submit" name="del" value="No" />
</div>
</form>