<script type="text/javascript">
   var fecha = '2014-01-01';

 $(function() {
$("#fechacaptura").datepicker({
  beforeShow: function (textbox, instance) {
            instance.dpDiv.css({
                    marginTop: (10) + 'px',
                    marginLeft: 0 + 'px'
            });
    },
    changeMonth: true,
    changeYear: true,
    dateFormat: "yy-mm-dd"
});




});

</script>
<br><br><br>
<h3>Edit Hcm Machine</h3>

<div class="agregaMaquinaHCM">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'hcmmachine',
    array(
       'controller' => 'Hcmmachines',
        'action'     => 'Edithcmmachine',
        'id'     => $this->id,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>


<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Hcm Machine Name: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('mach_name')); ?>
           </div>
  </div>    
    
 
<div class="form-group">
       <label class="col-sm-4 col-sm-4 control-label" for="Nombre">Date When Machine Added: </label>
       <div class="col-sm-4">
       <?php echo $this->formRow($form->get('fecha_track')); ?>
           </div>
  </div>    




<br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

<?php echo $this->form()->closeTag();?>    

</div>