<script  type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable(
    {
        "iDisplayLength": 25,
        


        "aaSorting": [[ 0,"desc"]]
    });
    
} );
</script>



<?php

$this->headTitle($this->titulo);
?>
<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>
<br/>

<p>
   <i class="icon-plus-sign"></i> 
   <a href="<?php echo $this->url('hcmmachine', array('action'=>'Addnewhcmmachine'));?>">Add New Machine(+)</a>
</p>
<br/>

<div style="width: 80%;">
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%">
<thead>
    <th class="dataTablesHead">Machines Names</th>
    <th class="dataTablesHead">Date When Machine Added</th>
    <th class="dataTablesHead">Status</th>
    <th class="dataTablesHead">Actions</th>

</thead>

<?php foreach($this->moldingCap as $molding): ?>
<tr>


    <td align="center"> <?php echo $this->escapeHtml($molding['mach_name']);?></td>
    <td align="center"><?php echo $this->escapeHtml($molding['fecha_track']);?> </td>
    <td align="center"><?php echo $this->escapeHtml($molding['status']);?> </td>
    <td align="center">
         <a href="<?php echo $this->url('hcmmachine',
            array('action'=>'Edithcmmachine', 'id' => $molding['id']));?>">Edit</a>
        <a href="<?php echo $this->url('hcmmachine',
            array('action'=>'Deletehcmmachine', 'id' => $molding['id']));?>">Delete</a>
    </td>

</tr>
<?php endforeach; ?>
</table>
</div>
