

<script  type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable(
    {
        "iDisplayLength": 25,
        


        "aaSorting": [[ 0,"desc"]]
    });
    
} );
</script>



<?php

$this->headTitle($this->titulo);
?>
<h2><?php echo $this->escapeHtml($this->titulo); ?><small> (<?php echo $this->FechaHelper($this->date," / "); ?>)</small></h2>
<br/>


<br/>

<div style="width: 80%;">
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%">
<thead>
    <th class="dataTablesHead">Machine Name</th>

    <th class="dataTablesHead">Up Time</th>
    <th class="dataTablesHead">Down Time</th>
    <th class="dataTablesHead">Idle Time</th>
    <th class="dataTablesHead">Assist Time</th>
    <th class="dataTablesHead">Total Time</th>

</thead>

<?php while($mach= $this->machine->current()): ?>
<tr>

    <td align="center"> <?php echo $this->escapeHtml($mach->mach_name);?></td>

  
   
    <td align="center"><?php echo $this->HourFormatHelper($mach->up_time);?> </td>

    <td align="center"><?php echo $this->HourFormatHelper($mach->down_time);?> </td>


    <td align="center"><?php echo $this->HourFormatHelper($mach->idle_time);?> </td>
  <td align="center"><?php echo $this->HourFormatHelper($mach->assist_time);?> </td>

  <td align="center"><?php echo $this->HourFormatHelper($mach->total_time);?> </td>



</tr>
<?php endwhile; ?>
</table>
</div>
