

<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});
</script>
<script type="text/javascript">
 $(function() {
$( "#inputDate" ).datepicker();
    $( "#inputDate" ).datepicker("option","dateFormat", "yy-mm-dd");
});
</script>


<?php
$this->headTitle($this->titulo);
?>
<h1><?php echo $this->escapeHtml($this->titulo); ?></h1>



<div class="agregaUsuario">
<?php    
    $form = $this->form;
    $form->setAttribute('action', $this->url(
            'capacity',
    array(
       'controller'   => 'Index',
        'action'      => 'editcapacity',
        'id'          => $this->cap_id,

    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="control-group">
       <label class="control-label" for="Nombre">Date: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('fecha')); ?>
           </div>
</div>  
    

<div class="control-group">
       <label class="control-label" for="Nombre">Status: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('nstatus')); ?>
           </div>
  </div>   


<div class="control-group">
       <label class="control-label" for="Nombre">Total Machines: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('total_machines')); ?>
           </div>
  </div>   

<div class="control-group">
       <label class="control-label" for="Nombre">Hours: </label>
       <div class="controls">
       <?php echo $this->formRow($form->get('hours')); ?>
           </div>
  </div>   

  <br><div align="center">
<?php echo $this->formRow($form->get('submit'));?>
</div>

</div>