<script  type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable(
    {
        "iDisplayLength": 25,
        


        "aaSorting": [[ 0,"desc"]]
    });
    
} );
</script>



<?php

$this->headTitle($this->titulo);
?>
<h2><?php echo $this->escapeHtml($this->titulo); ?></h2>
<br/>

<div style="float: left; width: 60%; margin-left: 20%;  margin-top: 20px;" align="top">
<?php    
    $form = $this->hcmForm;
    $form->setAttribute('action', $this->url(
            'capacity',
    array(
        'action'     => $this->action,
    )
));
$form->prepare();
echo $this->form()->openTag($form);
?>


<div class="form-group">
       <?php echo $this->formRow($form->get('molding')); ?>
  </div>    
        
<?php echo $this->formRow($form->get('submit'));?>
<?php echo $this->form()->closeTag();?>    

<h2><?php echo $this->title; ?><small> <?php echo $this->subTitle; ?></small></h2>
</div>

<br/>

<div style="width: 80%;">
<table id="example" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" aria-describedby="example_info" style="width: 100%">
<thead>
    <th class="dataTablesHead">Date</th>
    <th class="dataTablesHead">Nstatus</th>
    <th class="dataTablesHead">Total Machines</th>
    <th class="dataTablesHead">Hours</th>
    <th class="dataTablesHead">Total Time</th>
    <th class="dataTablesHead">Edit</th>

</thead>

<?php foreach($this->moldingCap as $molding): ?>
<tr>

    <td align="center"> <?php echo $this->escapeHtml($molding->fecha,true);?></td>

    <td align="center"><?php echo $this->escapeHtml($molding->nstatus);?> </td>
   
    <td align="center"><?php echo $this->escapeHtml($molding->total_machines);?> </td>

    <td align="center"><?php echo $this->escapeHtml($molding->hours);?> </td>


    <td align="center"><?php echo $this->escapeHtml($molding->total_time);?> </td>

<td align="center"> 
   <a href="<?php echo $this->url('capacity',
            array( 'controller' => 'Index', 'action'=>'editcapacity', 'id' => $molding->id));?>">Editar</a>

</td>



</tr>
<?php endforeach; ?>
</table>
</div>

<br><br>
