<script type="text/javascript">

$(function () {
        $('#container').highcharts({
            credits: {
                enabled:false
            },

            chart: {
                type: 'line',
                marginRight: 90,
                marginBottom: 55
            },
            title: {
                text: '<?php echo $this->gtitle; ?>',
                x: -20 //center
            },
            subtitle: {
                text: '<?php echo $this->gsubtitle; ?>',
                x: -20
            },
            xAxis: {
                <?php  echo $this->cat; ?>,
                    
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'FF SERO, ARIAL'
                        }
                    }

            },
            yAxis: {
              
                minorTickInterval: 250,
               
                min: 0,
               

              
                title: {
                    text: '<?php echo $this->gYtitle; ?>'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'Hrs'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        
                    },
                    enableMouseTracking: true
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Moldeo',
                color: '#005487',
                type: 'column',
                <?php  echo $this->data;?>
           },
            {
                name: 'Rolling Avg',
                color: '#CF8A24',
               <?php echo $this->data2; ?>,
                marker: {
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[3],
                    fillColor: 'white'
                }
            }
           ]
        });
    });
    
</script>



    
    




<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});
</script>

<div  class="headerGraphs">
<div style="float: left; width: 16%; margin-left: 30px; border:1px solid; margin-top: 1px;">
 <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><?php echo $this->translate('Filter Data') ?></h4>
            </div>
            <div class="panel-body">
               
<select class="dropdown" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="<?php echo $this->url('availability', array('action'=>'index'));?>">Last 30 days</option>
    <option value="<?php echo $this->url('avail', array('controller'=> 'Availabilityhc', 'action'=>'Daterange'));?>">Date Range</option>
    <option value="<?php echo $this->url('avail/default', array('controller'=> 'Availabilityhc', 'action'=>'Montlygraph'));?>">Montly Graph</option>
    <option value="<?php echo $this->url('avail/default', array('controller'=> 'Availabilityhc', 'action'=>'Yearlygraph'));?>">Yearly Graph</option>
     <option value="<?php echo $this->url('avail/default', array('controller'=> 'Availabilityhc', 'action'=>'Yearmonth'));?>">Year-Month Graph</option>
</select>

            </div>
        </div>
</div>

<div style="float: left; width: 60%; margin-left: 25px;  margin-top: 25px;" align="center">

<h2><?php echo $this->title; ?><small> (In Hours)</small></h2>


</div>

<div style="float: left; width: 15%; margin-left: 25px; border:1px solid; margin-top: 1px;">
 <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><?php echo $this->translate('Rolling Average Calculation') ?></h4>
            </div>
            <div class="panel-body">
               
<select class="dropdown" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="">4 Days</option>
    <option value="">7 Days</option>
    <option value="">10 Days</option>
    <option value="">14 Days</option>
</select>

            </div>
        </div>
</div>
</div>



<div id="container" style="max-width: 85%; height: 380px; margin-top: 10px;"></div>
<hr>


