<script type="text/javascript">

$(function () {
        $('#contain').highcharts({
            credits: {
                enabled:false
            },

            chart: {
                type: 'column',
                marginRight: 90,
                marginBottom: 55
            },
            title: {
                text: '<?php echo $this->gtitle; ?>',
                x: -20 //center
            },
            subtitle: {
                text: '<?php echo $this->gsubtitle; ?>',
                x: -20
            },
            xAxis: {
                <?php  echo $this->cat; ?>,
                    
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'FF SERO, ARIAL'
                        }
                    }

            },
            yAxis: {
              
              
               
                min: 80,
               
                max:100,
              
                title: {
                    text: '<?php echo $this->gYtitle; ?>'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%'
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false,
                        
                    },
                    enableMouseTracking: true
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 100,
                borderWidth: 0
            },
            series: [



           <?php echo $obj->getData();?> 
          
           
         

            ]
        });
    });
    
</script>




<script>
    jQuery(document).ready(function(){
    jQuery("#dropdown").change(function(e){
    window.location.href = jQuery("#dropdown").val();
    });});


    jQuery(document).ready(function(){
    jQuery("#dropdown2").change(function(e){
    window.location.href = jQuery("#dropdown2").val();
    });});
</script>
<br/>

<div  class="headerGraphs">
<div style="float: left; width: 15%; margin-left: 30px; ">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Filter Data') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown">
    <option value="#" selected="selected">Choose </option>
    <option value="<?php echo $this->url('availability', array('action'=>'index'));?>">Last 30 days</option>
    <option value="<?php echo $this->url('avail', array('controller'=> 'Availabilityhc', 'action'=>'Daterange'));?>">Date Range</option>
 <option value="<?php echo $this->url('avail/default', array('controller'=> 'Availabilityhc', 'action'=>'Montlygraph'));?>">
        Montly Graph <?php $year = date("Y");  echo "({$year})"; ?></option>
    <option value="<?php echo $this->url('avail/default', array('controller'=> 'Availabilityhc', 'action'=>'Yearlygraph'));?>">Yearly Graph (All Years)</option>
    <option value="<?php echo $this->url('avail/default', array('controller'=> 'Availabilityhc', 'action'=>'Yearmonth'));?>">Year-Month Graph</option>
</select>

            </div>
        </div>
</div>

<div style="float: left; width: 60%; margin-left: 25px;  margin-top: 25px;" align="center">

<h2><?php echo $this->title; ?><small> <?php echo $this->subTitle; ?></small></h2>

</div>

<div style="float: left; width: 15%; margin-left: 25px; ">
 <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title"><?php echo $this->translate('Rolling Avg Calculation') ?></h5>
            </div>
            <div class="panel-body">
               
<select class="dropdown input-sm" id="dropdown2">
    <option value="#" selected="selected">Choose </option>
    <option value="<?php echo $this->url('availabilityhc', array( 'action'=> 'index','id'=> 2));?>">2 Days</option>
    <option value="<?php echo $this->url('availabilityhc', array( 'action'=> 'index','id'=> 4));?>">4 Days</option>
    <option value="<?php echo $this->url('availabilityhc', array( 'action'=> 'index','id'=> 7));?>">7 Days</option>
    <option value="<?php echo $this->url('availabilityhc', array( 'action'=> 'index','id'=> 14));?>">14 Days</option>
</select>

            </div>
        </div>
</div>
</div>




   
 
<div id="contain" style="width: 92%; height: 380px; margin-top: 20px;"></div>


<br><br>



  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary">What is Availability?</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Formula</h4>
        </div>
        <div class="modal-body">
           <p><strong>Availability = Capacity - Scheduled DownTime</strong></p>
    <p> </p>
    <br><br>
    <p>Capacity = Total Capacity</p>
    <p>Scheduled DownTime = Engineer Sampling + Preventive Maintenance</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


